
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p class="first"> To know more about website head over to About section   </p>
    <p>Made by Jayaram Sunkara  Mechanical undergrad IIT ISM Dhanbad </p>

  </div>
</div>
</body>
</html>
